body {
    margin: 0; /* pour éviter les marges */
    padding: 0;
    background-color: rgb(243, 243, 243);
  }
.header{
    position: relative;
    text-align: center;
    height: 8em; /* hauteur du parent */
    line-height: 8em; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
    width: 100%;
}
.accueil{
    text-align: center;
}
.article{
  border: #fff solid 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-size: 28px;
  color: rgb(49, 49, 49) !important;;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 600px;
}
.article h1{
  font-size: 51px;
}
.play{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: rgb(32, 32, 32);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    top:-50px;
    background-position-y: 50%;
}
.play a{
    color : rgb(231, 71, 71);
}
.play a:hover{
    color : rgb(230, 36, 36);
}
.play .blackTitle{
    font-size: 50px;
    color: rgb(49, 49, 49) !important;;
}
.play .blackTitle:hover{
    font-size: 51px;
    color: rgb(49, 49, 49) !important;;
}
.play .whiteTitle{
    font-size: 50px;
    color: rgb(243, 243, 243) !important;;
}
.play .whiteTitle:hover{
    font-size: 51px;
    color: rgb(243, 243, 243) !important;;
}

.entonnoire{
    height: 600px;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);

}
.play p{
    padding-top:50px;
    line-height: 1.5em; /* hauteur de ligne (identique) */
    white-space: normal;
}
.discord{
    position: relative;
}
footer{
  background-color: #f3c62f;
}
.footer-copyright{
  background-color :rgb(49, 49, 49) !important;;
}
.numberPlayers{
    color: rgb(231, 71, 71) !important;;
    font-size: 55px !important;;
}
.numberPlayers:hover{
    color: rgb(219, 25, 25) !important;;
}
.accueil{
    background-color: #f3c62f;
    width: 100%;
    padding-top:10px;
    height: 720px;
    display: inline-block;
}
.bar{
    position: relative;
    width: 100%;
    margin-top: -30px;
    height: 50px;
    background-image: url(bar.png);
    background-size: 100%;
}
a:hover{
    text-decoration: none;
}
.haut{
    margin-top: 50px;
    height: 350px;
}
.haut img{
    width: 30%;
    height: auto;
}
.cercle{
    width: 550px;
    height: auto;
    position: relative;
}
.accueil .droite,.accueil .bas{
    overflow: hidden;
    text-align: center;
    padding: 1em;
    width: 49%;
    display: inline-block;
}
.headerLink{
    font-family: 'Oswald', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: rgb(32, 32, 32);
    position: relative;
}
.headerLink:hover{
    text-decoration: none;
    color: rgb(153, 152, 152);
}
.article .gauche img,.article .droite img{
  width: 100%;
  height: auto; 
}

 .droite, .gauche, .milieu{
   position: relative;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    width: 32%;
    height: 100%;
    display: inline-block;
}
.topXp{
    position: relative;
    margin-top: 50px;
    background-color: #f7f7f8;
    width: 100%;
    height: 600px;
    display: inline-block;
}




body #cards{
    font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 20px;
}
#cards img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 20px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
  font-size: 1.5em;
}
.card__stats th {
  text-align: right;
  font-weight: 300;
}
.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__type {
  background-color: #C08A53;
}
.card--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card--water .card__type {
  background-color: #1CB5E0;
}
.card--electric {
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card--electric .card__type {
  background-color: #000;
}
.card--fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}
.card--fire .card__type {
  background-color: #c71800;
}
.card--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
.card--psychic .card__type {
  background: #ff2cc3;
}
.card--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card--dark .card__type {
  background: #5c0249;
}
.card--grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}
.card--grass .card__type {
  background: #6e7f0e;
}
.card--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card--ice .card__type {
  background: #6fb8eb;
}
.card--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card--fairy .card__type {
  background: #ff8a95;
}
.card:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(-2deg);
          transform: translateY(0px) rotate(-2deg);
}
.card:nth-child(2) {
  -webkit-transform: translateY(0px) rotate(4deg);
          transform: translateY(0px) rotate(4deg);
}
.card:nth-child(3) {
  -webkit-transform: translateY(0px) rotate(-5deg);
          transform: translateY(0px) rotate(-5deg);
}
.card:nth-child(4) {
  -webkit-transform: translateY(0px) rotate(4deg);
          transform: translateY(0px) rotate(4deg);
}
.card:nth-child(5) {
  -webkit-transform: translateY(0px) rotate(4deg);
          transform: translateY(0px) rotate(4deg);
}
.card:nth-child(6) {
  -webkit-transform: translateY(0px) rotate(1deg);
          transform: translateY(0px) rotate(1deg);
}
.card:nth-child(7) {
  -webkit-transform: translateY(0px) rotate(-2deg);
          transform: translateY(0px) rotate(-2deg);
}
.card:nth-child(8) {
  -webkit-transform: translateY(0px) rotate(4deg);
          transform: translateY(0px) rotate(4deg);
}
.card:nth-child(9) {
  -webkit-transform: translateY(0px) rotate(-2deg);
          transform: translateY(0px) rotate(-2deg);
}
.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}


