/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
.personnage{
	position: absolute;
	transition: 0.25s;
	margin-left: 0;
	margin-top: 0;
}
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

body {
    image-rendering: pixelated;
}

#inventory{
	transform: none;
	position: fixed;
	top:0;
	left: 0;
	width: 40%;
	height: 100%;
	background-color: rgba(10,10,10,0.72);
}

#inventory table,#inventory tbody,#inventory tr{
	position: relative;
	transform: none;
}
#inventory tr{
	width: 300px;
	height: 100px;
	border : solid 1px white;
	transform: none;
	position: relative;
	display: flex;
}
#inventory td{
	width: 100px;
	height: 100px;
		border : solid 1px white;
	transform: none;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .table {
        zoom: 50%;
    }
}

.cercleTp {
    image-rendering: auto;
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 0s;
    z-index: 30000;
    transform: translate3d(-25.8px, -76px, 0px);
    background-image: url(../img/tpDonjon.png);
    background-size: 100%;
}




.pseudo{
    position: absolute;
    font-size: 30px;
    color: rgb(240, 239, 168);
    transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-375px, -164px, -240px);
}

div,
body,
p,
a {
    margin: 0px;
    padding: 0px;
}

.block {
    position: relative;
    width: 100px;
    /*def de la taille d'un carré*/
    height: 100px;
    /*def de la taille d'un carré*/
    background-size: 100%;
    display: inline-block;
    overflow: hidden;
}

.bottom{
	bottom: 10px;
	position: absolute;
	width: calc(100% - 60px);
	text-align: center;
	
}

.ligne {
    height: 100px;
    /*def de la taille d'un carré*/
}

body {
    background-color: rgb(127, 212, 252);
}

.perso,.monster {
    position: absolute;
    width: 70px;
    height: 70px;
    transition: 0.5s;
    z-index: 10000000;
    transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-20px, -112px, -48px);
}
#salon{
	position: fixed;
	max-height: 80%;
	height: 80%;
	top:5%;
	right: 1%;
	width: 20%;
	text-transform: uppercase;
	background-color: rgba(38,38,38,1.00);
	border: solid gray 6px;
	color: antiquewhite;
	padding: 30px;
	font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	
}
.monster{
	width: 100px;
    height: 100px;
	cursor: pointer;
	z-index: 1000000000000000000000000000;
	transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-20px, -152px, -48px);
}
.monster:hover{
	-webkit-filter: drop-shadow(3px 3px 0 red)
                  drop-shadow(-3px -3px 0 red);
  filter: drop-shadow(3px 3px 0 red) 
          drop-shadow(-3px -3px 0 red);
}

body {
    margin: 0px;
    overflow: hidden;
}
#map{
	position: absolute;
	transition: 3s;
}
table {
    transform: rotateX(60deg) rotateZ(45deg);
    position: absolute;
    border-spacing: 0px;
}

tr {
    height: 0px;
    width: 0px;
    display: block;
    zoom: 2;
}

td {
    height: 0px;
    width: 0px;
    display: block;
    padding: 0px;
}

.croix {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    right: 70px;
    top: 70px;
}

.tile {
    image-rendering: auto;
    transform: translate3d(0px, 0px, 0px);
    width: 32px;
    height: 32px;
    transition: all 1s cubic-bezier(0.22, 0.6, 0.39, 1.42);
}

.tile.hide {
    transform: translate3d(192px, 192px, 0px) !important;
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, -0.4, 0.88, 0.51);
}

.tile>div {
    transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-17.6px, -76.8px, 0px);
    width: 104px;
    height: 92px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

@keyframes showTile {
    from {
        transform: translate3d(192px, 192px, 0px);
        opacity: 0;
    }

    to {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }
}

@keyframes hideTile {
    from {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }

    to {
        transform: translate3d(192px, 192px, 0em);
        opacity: 0;
    }
}

.table {
    position: fixed;
    /* postulat de départ */
    top: 25%;
    left: 50%;
    /* à 50%/50% du parent référent */
    transition: 1s;
}

.hidden{
    visibility: hidden;
}
.ocean{
    z-index: 1;
    visibility: hidden;
}
body ,html{
	height: 100%;
    image-rendering: crisp-edges;
}

.tile {
    image-rendering: auto;
    transform: translate3d(0px, 0px, 0px);
    width: 64px;
    height: 64px;
    transition: all 1s cubic-bezier(0.22, 0.6, 0.39, 1.42);
}

.tile.hide {
    transform: translate3d(192px, 192px, 0px) !important;
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, -0.4, 0.88, 0.51);
}
.coin{
	position: fixed;
	left: 100%;
	top: 100%;
	transition: 0;
}
.tile>div {
    transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-37.6px, -66.8px, -42px);
    width: 208px;
    height: 280px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

@keyframes showTile {
    from {
        transform: translate3d(192px, 192px, 0px);
        opacity: 0;
    }

    to {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }
}

@keyframes hideTile {
    from {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }

    to {
        transform: translate3d(192px, 192px, 0em);
        opacity: 0;
    }
}




@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.entypo-tumblr:before {
  content: "\f315";
}

.entypo-facebook:before {
  content: "\f30c";
}

.entypo-twitter:before {
  content: "\f309";
}

.entypo-instagrem:before {
  content: "\f32d";
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'Entypo', sans-serif;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #485f67;
  text-align: center;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

.sr {
  width: 0;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 5px 10px;
  padding: 17px 22px;
  width: 200px;
  z-index: 1;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  z-index: -2;
  content: '';
}

.btn.red {
  background: #ff5747;
}
.btn.red span, .btn.red:after {
  background: #cb4539;
}
.btn.green {
  background: #2bdc33;
}
.btn.green span, .btn.green:after {
  background: #23b32a;
}
.btn.blue {
  background: #16bfff;
}
.btn.blue span, .btn.blue:after {
  background: #129acd;
}
@media (min-width: 48em) {
  .btn {
    padding: 18px 30px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
  }
  .btn:after {
    height: 6px;
  }
}

#textPanelSalon{
	font-size: 10px;
	color: gray;
	text-transform: none;
}
#lifeMonster{
	text-align: center;
	  cursor: pointer;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
	background-color: rgba(0,255,76,1.00);
	border: solid 5px rgba(74,209,0,1.00);
	position: fixed;
	width: 80%;
	height: 5%;
	min-height: 20px;
	top: 5%;
	left: 10%;
}